html, body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

#container {
    display: flex;
}

#project-container > header {
    display: flex;
    align-items: center;
}

header button {
    height: fit-content;
    margin-left: auto;
}

button:hover {
    cursor: pointer;
}

#project-container {
    background-color: rgb(17, 129, 17);
    width: 25vw;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

#content-container {
    height: 100vh;
    width: 75vw;
    background-color: grey;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#content-container button {
    position: absolute;
    top: 0%;
    right: 0%;
    margin: 5px;
}

.project {
    border: solid rgb(0, 0, 0);
    padding: 3px;
}

.project:hover {
    cursor: pointer;
}

.todo {
    border: solid black;
    display: flex;
    gap: 10px;
    padding: 5px;
}

.todo p {
    border-right: solid black;
}